.home-bg-img {
	background-image: url("../../images/Bg.png");
	background-size: contain;
	height: 650px;
}
.card {
	margin-top: 100px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
	border:0;
	outline: none;	
}
.card-img {
	position: relative;	
}
.card-img img {
	position: absolute;
	height: 190px;
	width: 100%;
	box-sizing: border-box;
	background-color: #007580;
	padding: 30px;
	border-radius: 5px;
}
.card-img img:hover {
	background-color: #a1cae2;
}

@media screen and (max-width: 500px) {
	.card {
		margin-top: 10px;
		display: grid;
		grid-template-columns: repeat(1,1fr);
		height:80px;		
	}
	.card-img {
		position: relative;	
		height:190px;	
	}
	.card-img img {
		position: absolute;
		height: 190px;
		width: 100%;
		box-sizing: border-box;
		background-color: #007580;
		padding: 30px;
		border-radius: 5px;
	}
	.card-img img:hover {
		background-color: #a1cae2;
	}
	.home-bg-img{
		height:auto;
		background-size: cover;
	}
}
